

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(002, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.background {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.TopComponents {
  display: flex;
  flex-direction: row;
  gap: 60px;
  /* min-height: 1000px;
  min-width: 1000px; */
}


.DishInfo {
  margin: auto;
  background-color: rgba(250, 231, 184, 0.788);
  border: 1px solid rgb(0, 0, 0, 0.3);
  box-shadow: 10px 10px 8px #bbb;
  border-radius: 2px;
  padding: 10px;
  height: auto;
  width: auto;
  font-size: 25px;
}

#guess {
  height: 2rem;
  width: 16rem;
  text-align: center;
}

.ingredients {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Bowlby One"; 
  font-size: 49px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 196px; 
}